.auth-container[b-5tx0q0dz0v] {
    background-color: #f6f3fb;
    padding: 4rem 2rem;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-title[b-5tx0q0dz0v] {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #4a4a4a;
}

.form-group[b-5tx0q0dz0v] {
    margin-bottom: 1.5rem;
}

.form-group label[b-5tx0q0dz0v] {
    font-weight: bold;
    color: #555;
}

.form-group input[b-5tx0q0dz0v] {
    width: 100%;
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 0.5rem;
}

.form-group input:focus[b-5tx0q0dz0v] {
    border-color: #d8bbff;
    outline: none;
    box-shadow: 0 0 5px rgba(216, 187, 255, 0.6);
}

button[b-5tx0q0dz0v] {
    background-color: #d8bbff;
    color: white;
    padding: 0.75rem 2rem;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-weight: normal;
    border: none;
    width: 100%;
    transition: transform 0.2s ease, box-shadow 0.2s ease, font-weight 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

button:hover[b-5tx0q0dz0v] {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.alert[b-5tx0q0dz0v] {
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 8px;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
}
