@page "/Error"

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Errore</h1>
<h2 class="text-danger">Si è verificato un errore durante l'elaborazione della richiesta.</h2>

<h3>Modalità di sviluppo</h3>
<p>
    Passare alla modalità <strong>Sviluppo</strong> visualizzerà informazioni più dettagliate sull'errore.
</p>
<p>
    <strong>La modalità di sviluppo non dovrebbe essere abilitata per le applicazioni distribuite.</strong>
    Potrebbe mostrare informazioni sensibili derivate dalle eccezioni agli utenti finali.
    Per il debug locale, abilita l'ambiente <strong>Development</strong> impostando la variabile di ambiente <strong>ASPNETCORE_ENVIRONMENT</strong> su <strong>Development</strong>
    e riavvia l'app.
</p>
